		<!--footer-->
		<footer class="footer-container">
			<div class="container">
				<div class="row">
					<widget type="menu" name="footer:menu-1" section="پاورقی">
						<div class="col-lg-3 col-md-6">
							<div class="footer-menu">
								<h3 class="footer-menu-title">
									@@title
								</h3>
								<ul class="footer-menu-items">
									<loop src="@@items">
										<li class="footer-menu-item">
											<a href="@@url" class="footer-menu-link @@cssclass" target="@@target">@@title</a>
										</li>
									</loop>
								</ul>
								<if terms="@@user.admin">
									<div class="mt-1">
										<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget">
											<i class="fa fa-pencil"></i>
											ویرایش لینک‌ها
										</a>
									</div>
								</if>
							</div>
						</div>
					</widget>
					<widget type="menu" name="footer:menu-2" section="پاورقی">
						<div class="col-lg-3 col-md-6">
							<div class="footer-menu">
								<h3 class="footer-menu-title">
									@@title
								</h3>
								<ul class="footer-menu-items">
									<loop src="@@items">
										<li class="footer-menu-item">
											<a href="@@url" class="footer-menu-link @@cssclass" target="@@target">@@title</a>
										</li>
									</loop>
								</ul>
								<if terms="@@user.admin">
									<div class="mt-1">
										<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget">
											<i class="fa fa-pencil"></i>
											ویرایش لینک‌ها
										</a>
									</div>
								</if>
							</div>
						</div>
					</widget>
					<widget type="subscription" name="footer:subscription" section="پاورقی">
						<div class="col-lg-6 col-md-12">
							<div class="footer-subscription">
								<form name="footersubscription" class="footer-subscription-form" ng-submit="footersubscription.$valid && submit()" eval="collect('@@label')" subscription dynamic-form auto-show novalidate>
									<h3 class="footer-subscription-title">
										@@title
									</h3>
									<scope name="footer-subscription">
										<include name="layouts/validation.html" />
									</scope>
									<div class="alert alert-success footer-subscription-succeed" ng-show="succeed">
										<span ng-bind="succeed.description"></span>
									</div>
									<div class="form-group footer-subscription-name">
										<input type="text" name="name" ng-model="model.name" class="form-control" placeholder="نام و نام خانوادگی" ng-disabled="progress" required>
										<div class="validation-inline footer-subscription-inline-error text-danger" ng-messages="footersubscription.name.$error" ng-show="footersubscription.$submitted || footersubscription.name.$dirty">
											<span ng-message="required">
												نام و نام خانوادگی را بنویسید.
											</span>
											<span ng-message="server">
												<span ng-bind="validation.name"></span>
											</span>
										</div>
									</div>
									<div class="form-group footer-subscription-email">
										<input type="text" name="email" ng-model="model.email" class="form-control" placeholder="پست الکترونیک" ng-disabled="progress">
										<div class="validation-inline footer-subscription-inline-error text-danger" ng-messages="footersubscription.email.$error" ng-show="footersubscription.$submitted || footersubscription.email.$dirty">
											<span ng-message="server">
												<span ng-bind="validation.email"></span>
											</span>
										</div>
									</div>
									<div class="form-group footer-subscription-mobile">
										<input type="text" name="mobile" ng-model="model.mobile" class="form-control" placeholder="شماره موبایل" ng-disabled="progress">
										<div class="validation-inline footer-subscription-inline-error text-danger" ng-messages="footersubscription.mobile.$error" ng-show="footersubscription.$submitted || footersubscription.mobile.$dirty">
											<span ng-message="server">
												<span ng-bind="validation.mobile"></span>
											</span>
										</div>
									</div>
									<button class="btn btn-lg btn-orange footer-subscription-submit" ng-disabled="progress">
										ثبت‌نام
									</button>
									<if terms="@@user.admin">
										<div class="mt-3">
											<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget footer-subscription-edit">
												<i class="fa fa-pencil"></i>
												ویرایش
											</a>
										</div>
									</if>
									<div class="footer-subscription-loading" ng-show="progress">
										<i class="fa fa-refresh fa-spin fa-fw"></i>
										کمی صبر کنید...
									</div>
								</form>
							</div>
						</div>
					</widget>
				</div>
			</div>
		</footer>
		<!--/footer-->

		<!--copyright-->
		<div class="copyright-container">
			<div class="container">
				<div class="row">
					<div class="col-md-6">
						<span class="copyright-text">
							@@config.copyright
						</span>
					</div>
					<widget type="content" name="social">
						<div class="col-md-6">
							<div class="social-links text-left">
								<if terms="@@telegram.exists()">
									<a class="social-links-item telegram" href="@@telegram"><span class="fa fa-send"></span></a>
								</if>
								<if terms="@@instagram.exists()">
									<a class="social-links-item instagram" href="@@instagram"><span class="fa fa-instagram"></span></a>
								</if>
								<if terms="@@linkedin.exists()">
									<a class="social-links-item linkedin" href="@@linkedin"><span class="fa fa-linkedin"></span></a>
								</if>
								<if terms="@@twitter.exists()">
									<a class="social-links-item twitter" href="@@twitter"><span class="fa fa-twitter"></span></a>
								</if>
								<if terms="@@facebook.exists()">
									<a class="social-links-item facebook" href="@@facebook"><span class="fa fa-facebook"></span></a>
								</if>
								<if terms="@@skype.exists()">
									<a class="social-links-item skype" href="@@skype"><span class="fa fa-skype"></span></a>
								</if>
								<if terms="@@user.admin">
									<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget">
										<i class="fa fa-pencil"></i>
										ویرایش
									</a>
								</if>
							</div>
						</div>
					</widget>
				</div>
			</div>
		</div>
		<!--/copyright-->

		<script type="text/javascript" src="@@theme/js/bootstrap.js"></script>
		<script type="text/javascript" src="@@theme/js/magnific.popup.js"></script>
		<script type="text/javascript" src="@@theme/js/owl.carousel.js"></script>
		<script type="text/javascript" src="@@theme/js/app.js"></script>
		<script type="text/javascript" src="https://www.googletagmanager.com/gtag/js?id=@@analyticsid" async></script>
		<script type="text/javascript">
			window.dataLayer = window.dataLayer || [];
			function gtag(){dataLayer.push(arguments);}
			gtag('js', new Date());
			gtag('config', '@@analyticsid');
		</script>
	</body>
</html>