<!DOCTYPE html>
<html dir="rtl" lang="fa" ng-app="siteBuilder.public">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>@@metatitle</title>
		<meta name="keywords" content="@@metakeywords">
		<meta name="description" content="@@metadescription">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="@@theme.fonts?family=persian&family=fontawesome">
		<link rel="stylesheet" href="@@theme/css/bootstrap.css">
		<link rel="stylesheet" href="@@theme/css/bootstrap.rtl.css">
		<link rel="stylesheet" href="@@theme/css/magnific.popup.css">
		<link rel="stylesheet" href="@@theme/css/owl.carousel.css">
		<link rel="stylesheet" href="@@theme/css/app.css">
		<link rel="canonical" href="@@canonicalurl">
		@@config.verification
	</head>
	<body ng-class="{'no-scroll':no_scroll}" itemscope itemtype="http://schema.org/WebPage">

		<!--navigation-->
		<div class="container">
			<div class="row">
				<if terms="@@ismobiledevice">
					<div class="col-4">
						<include name="layouts/navigations/offcanvas.html" />
					</div>
				</if>
				<if terms="@@ismobiledevice.false()">
					<div class="col-4 col-md-6 col-lg-12 col-xl-9">
						<include name="layouts/navigations/navbar.html" />
					</div>
				</if>
				<widget type="content" name="social">
					<div class="col-8 col-md-6 col-lg-12 col-xl-3">
						<div class="social-links pt-20 text-left">
							<if terms="@@telegram.exists()">
								<a class="social-links-item telegram" href="@@telegram"><span class="fa fa-send"></span></a>
							</if>
							<if terms="@@instagram.exists()">
								<a class="social-links-item instagram" href="@@instagram"><span class="fa fa-instagram"></span></a>
							</if>
							<if terms="@@linkedin.exists()">
								<a class="social-links-item linkedin" href="@@linkedin"><span class="fa fa-linkedin"></span></a>
							</if>
							<if terms="@@twitter.exists()">
								<a class="social-links-item twitter" href="@@twitter"><span class="fa fa-twitter"></span></a>
							</if>
							<if terms="@@facebook.exists()">
								<a class="social-links-item facebook" href="@@facebook"><span class="fa fa-facebook"></span></a>
							</if>
							<if terms="@@skype.exists()">
								<a class="social-links-item skype" href="@@skype"><span class="fa fa-skype"></span></a>
							</if>
							<if terms="@@user.admin">
								<a href="@@editurl" class="btn btn-sm btn-edit edit-link edit-link-widget">
									<i class="fa fa-pencil"></i>
									ویرایش
								</a>
							</if>
						</div>
					</div>
				</widget>
			</div>
		</div>
		<!--/navigation-->

		<!--hedaer-->
		<div class="container">
			<div class="header pt-50 pb-20">
				<div class="row">
					<div class="col-lg-8 col-md-6">
						<div class="header-logo mb-30 d-flex flex-row align-items-center">
							<img src="@@config.logo" alt="@@config.title" class="header-logo-image ml-20">
							<h2 class="header-logo-title m-0">
								<a class="header-logo-title-link" href="/">@@config.title</a>
							</h2>
						</div>
					</div>
					<div class="col-lg-4 col-md-6">
						<div class="header-search mb-30">
							<form class="quicksearch" action="/site/search" dynamic-search auto-show>
								<div class="form-group">
									<div class="input-group quicksearch-query">
										<input type="text" name="q" class="form-control quicksearch-query-input" maxlength="100" ng-model="query" ng-model-options="{debounce:500}" placeholder="جستجو کنید...">
										<div class="input-group-append">
											<button class="btn btn-orange quicksearch-query-button">
												<i class="fa fa-fw fa-search"></i>
											</button>
										</div>
									</div>
									<div class="quicksearch-items d-none" ng-class="{'d-none': !items.length}">
										<div class="quicksearch-item" ng-repeat="item in items">
											<div class="quicksearch-item-image" ng-show="item.image">
												<a ng-href="{{item.url}}" class="quicksearch-item-image-link">
													<img ng-src="{{item.image}}?m=crop&w=100&h=100&q=high" class="quicksearch-item-image-element">
												</a>
											</div>
											<h4 class="quicksearch-item-title">
												<a ng-href="{{item.url}}" class="quicksearch-item-link">
													<span ng-bind="item.title"></span>
												</a>
											</h4>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!--/hedaer-->

		<if terms="@@user.admin">
			<div class="modal fade" tabindex="-1" role="dialog" edit-dialog>
				<div class="modal-dialog modal-lg" role="document">
					<div class="modal-content">
						بارگذاری...
					</div>
				</div>
			</div>
		</if>